.card {
  max-width: 400px;
  margin-left: 20px;
  border-color: black;
  border-width: 10px;
  background-color: whitesmoke;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title{
  font-weight: 350;
  margin: 0;
  height: fit-content;
}


.stick {
  display:flex;
  background-color: grey;
}