<div class="container">

  <!--form class="pesquisa">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" autocomplete="off" />
    </mat-form-field>

    <button mat-raised-button color="primary">Pesquisar</button>
    <button  mat-raised-button type="button" color="secondary" (click)="limparPesquisa()">Limpar</button>
  </form-->

  <!---------------------------------------------------------------------------// * \\-------------------------------------------------------------------------------->
  
  <mat-card class="card" *ngFor="let personagem of personagens">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{personagem.name}}</mat-card-title>
      <mat-card-subtitle>{{personagem.nickname}}</mat-card-subtitle>
    </mat-card-header>
    <div class="Foto">
      <img mat-card-image src={{personagem.img}} alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <div class="title">Aniversario: {{personagem.birthday}}</div>
      <div class="title">Status: {{personagem.status}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button class="sendButton" (click)="onNavigateTo('/CardsDetalhes',personagem.char_id)" mat-button >Ver Mais</button>
    </mat-card-actions>
  </mat-card> 
</div>
