.container{
  background-color:gainsboro ;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;

}

.card {
  background-color:rgb(85, 102, 78) ;
  max-width: 200px;
  min-width: 100px;
  margin: 2em;
  height: -moz-fit-content;
  height: fit-content;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title{
  border-color: 5px solid blue;
  font-weight: 350px;
  margin: 0;
  height: fit-content;
}

.sendButton {
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  margin-top: 5px;
}

.Foto{
  width: 200px;
  height: 350px;
  margin-left: auto;
  margin-block-start: 20px;
}

.mat-card-image:first-child {
  margin-top: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.mat-card-image {
  width: calc(100% + 0px);
  margin: 0px;
}


