<!--div class="container">

    <app-cards></app-cards>
</div-->

<div class="container">
        <mat-card class="card" *ngFor="let personagem of personagens">
            <mat-card-header>
              <div mat-card-avatar class="header-image"></div>
              <mat-card-title>{{personagem.name}}</mat-card-title>
              <mat-card-subtitle>{{personagem.nickname}}</mat-card-subtitle>
            </mat-card-header>
            <div class="Foto">
              <img mat-card-image src={{personagem.img}} alt="Photo of a Shiba Inu">
            </div>
            <mat-card-content>
              <div class="title">Aniversario: {{personagem.birthday}}</div>
              <div class="title">Status: {{personagem.status}}</div>
            </mat-card-content>
            <mat-card-actions>
              <button class="sendButton" (click)="onNavigateTo('/CardsDetalhes',personagem.char_id)" mat-button >Ver Mais</button>
            </mat-card-actions>
          </mat-card> 
</div>
