.container{
  border: 10px solid rgb(0, 255, 179);
}

.busca{
  font-size: 14px;
  width: 50%;
}


.stick {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid red;
  background-color: grey;
  width: 100%;
  height: 100%;

}

.card {
  width: 25%;
  height: 25%;
  border: 1px solid rgb(212, 0, 255);
  background-color: #D3D3D3;
  margin-left: 25px;
 
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title{
  border-color: 5px solid blue;
  font-weight: 350px;
  margin: 0;
  height: fit-content;
}

.sendButton {
  background-color: #778899;
  margin-left: 5px;
  margin-top: 5px;
}

.Foto{
  width: 95%;
  height: 80%;
  margin-left: 10px;
  max-height: 50%;
  margin-block-start: 25px;
}

