.container{
    background-color:gainsboro ;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .card {
    background-color:rgb(85, 102, 78) ;
    max-width: 200px;
    min-width: 100px;
    margin: 2em;
    height: -moz-fit-content;
    height: fit-content;
  }
  
