<div class="container">
Ola mundo!!
  <!--div  class="stick">
    <mat-card class="card" *ngFor="let personagem of personagens">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{personagem.name}}</mat-card-title>
            <mat-card-subtitle>{{personagem.nickname}}</mat-card-subtitle>
          </mat-card-header>
          <div class="Foto">
            <img mat-card-image src={{personagem.img}} alt="Photo of a Shiba Inu">
          </div>
            <mat-card-content>
              <div class="title">Aniversario: {{personagem.birthday}}</div>
              <div class="title">Status: {{personagem.status}}</div>
            </mat-card-content>
      <mat-card-actions>
        <button class="sendButton" mat-raised-button>Voltar</button>
      </mat-card-actions>
   </mat-card>
  </div-->
</div>

